@page "/lobby"
@using JetLag.Resources
@using JetLag.Scripts

@inject IStringLocalizer<TextConstants> L
@inject ClientSettings ClientSettings


<AppTitle TitleKey="LobbySelect" Localizer="@L" />

<div class="join-lobby-page">
    <div class="join-lobby-card lobby-select-card">
        <h1 class="join-lobby-title">@L["LobbySelect"]</h1>

        <div class="lobby-select-section">
            <button class="lobby-role-header @(IsHiderSelected ? "lobby-role-header-active" : string.Empty)"
                @onclick="OnHiderClicked">
                @L["Hider"]
            </button>
            <div class="lobby-role-value">
                @_hider?.Name
            </div>
        </div>

        <div class="lobby-select-section lobby-seekers-section">
            <button class="lobby-role-header @(IsSeekerSelected ? "lobby-role-header-active" : string.Empty)"
                @onclick="OnSeekerClicked">
                @L["Seekers"]
            </button>

            @foreach (var seaker in Seekers)
            {
                <div class="lobby-role-value">
                    @seaker.Name
                </div>
            }
        </div>

        <div class="join-lobby-actions lobby-select-actions">
            <button class="join-lobby-button join-lobby-button-primary" disabled="@(!CanStart)">
                @L["Start"]
            </button>
        </div>
    </div>
</div>


@code {
    private Player? _client;
    private Player? _hider;

    private List<Player> _players = new();


    private string ClientName => _client!.Name;

    private bool IsHiderSelected => _hider?.Name == ClientName;
    private bool IsSeekerSelected => Seekers.Any(p => p.Name == ClientName);
    private bool CanStart => _hider is not null && Seekers.Count > 0;

    private List<Player> Seekers => _hider is null
    ? _players
    : _players.Where(p => p.ID != _hider.ID).ToList();


    protected override void OnInitialized()
    {
        _client = ClientSettings.Player;
        // TODO : Swap this out with server response.
        _players = new()
{
_client,
new("Boc", false),
new("Allen", false),
new("Charlie", false),
};

        _hider = _players.FirstOrDefault(p => p.IsHider);
    }


    private void OnHiderClicked()
    {
        if (_hider is not null)
            return;

        SetClientAsHider(true);
        StateHasChanged();
    }

    private void OnSeekerClicked()
    {
        SetClientAsHider(false);
        StateHasChanged();
    }

    private void SetClientAsHider(bool state)
    {
        _hider = state ? _client : null;
        _client!.IsHider = state;
    }
}